<html>
  <head>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
      <link rel='stylesheet' href='css/styles.css'>
      <title>Address book contacts stored:</title>
  </head>
    <body>
        <div class='container'>
            <h1>You've erased all your friends! OH NO!</h1>
            <h2>They weren't your friends anyways.</h2>
            <h3><a href='/'>Return</a></h3>

        </div>
    </body>
</html>            
